.zzz-navbar {
    background-color: #000000;
}
.zzz-nav-links-lower {
    margin-top: 5%px;
}
       
.zzz-img {
    height: 80px;
    display: block;
    transform: translateY(25%);
}
.zzz-hbtn {
    background-color: black;
    color: white !important;
    border-radius: 20px;
    border: 1px solid black;
    transition: all 0.5s ease;
    padding: 8px 32px !important;
    text-align: center;
    display: inline-block !important;
}

.zzz-hbtn:active {
    background-color: white ;
}

.zzz-hbtn:hover {
    background-color: white !important;
    color: black !important;
}

.zzz-footer {
    background-color: #000;
}

.zzz-social {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: 0.3s;
    display: inline-block;
}

.zzz-social:hover {
    color: #fff;
    text-shadow: 0 0 8px white;
}